 # ---------------[ Unity generated ]------------------ #
Logs/
Library/
**/obj/
Temp/

# ----[ VS [Code] ]------- #
*.csproj
*.sln
*.sln.meta
.vscode
.vs

# ----[ OS-Specific ]------- #
.DS_Store
Thumbs.db

# ----[ misc ]------- #
.git/
