 # ---------------[ Unity generated ]------------------ #
Logs/
Library/
**/obj/
Temp/

# ----[ VSCode ]------- #
*.csproj
*.sln
*.sln.meta
.vscode

# ----[ OS-Specific ]------- #
.DS_Store
Thumbs.db

# ----[ misc ]------- #
.git/
