 # ---------------[ Unity generated ]------------------ #
Logs/
Library/
**/obj/
Temp/

# ----[ Editor Specific ]------- #
*.csproj
*.sln
*.sln.meta
.vscode
.vs
**/tags
**/tags.meta

# ----[ OS-Specific ]------- #
.DS_Store
Thumbs.db

# ----[ misc ]------- #
.git/
bin/